body{
    padding:0px;
    margin:0px;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar{
    margin:0px;
    padding:0px;
    border:0px;
}
.navbar-brand{
    height: 70px;
    width: 70px;
    font-size: 28px;
    margin:0px;
    margin-left: 30px;
}
.nav-item:first-child{font-size: 40px;}

#route{
    padding-top: 20px;
    padding-left: 659px;
    padding-right: 0px;
    margin-right: 0px;
}
#route:hover {
    padding-top: 20px;
    font-weight:bold;
    letter-spacing:1px;
}
#route-space{
    padding-top: 20px;
    padding-left: 10px;
}
.nav-item:last-child{
    padding-top: 20px;
    padding-left: 0px;
}

/* Contact Area */
#contact-area{
    padding-top: 30px;
    background-image: url("../img/contact-bg.jpg");
    background-attachment: fixed;
}
#contact-area h1{
    width:480px;
    margin:auto;
    font-size:50px;
}
#contact-area p{
    width:250px;
    margin:auto;
    font-size:24px;
}
blockquote{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 59px;
}
#icon1{
    margin-top: 15px;
}
#icon1, #icon2{
    margin-bottom: 35px;
}
#icon1 i{
    color:crimson;
}
#icon2 i{
    color:slateblue;
}
#icon3 i{
    color:rgb(14, 114, 14);
}

/* Footer */
.fa-facebook:hover{
    color:#3b5998;
    cursor: pointer;
}
.fa-twitter:hover{
    color:#1DA1F2;
    cursor: pointer;
}
.fa-google-plus:hover{
    color:#DB4437;
    cursor: pointer;
}
.fa-snapchat:hover{
    color:#FFFC00;
    cursor: pointer;
}
.fa-youtube:hover{
    color:#FF0000;
    cursor: pointer;
}
    