body{
    padding:0px;
    margin:0px;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.navbar{
    margin:0px;
    padding:0px;
    border:0px;
}
.navbar-brand{
    height: 80px;
    width: 80px;
    font-size: 28px;
    margin:0px;
    margin-left: 30px;
}
.nav-item{ 
    margin-right: 50px;
    padding-right:5px;

}
.nav-item:first-child{margin-left: 190px;}

.nav-item :hover{
    font-weight:bold;
    letter-spacing:1px;
}    

/* Slider */
.wrapper{position: relative;}

.slide{
    height: 88vh;                                    
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-1{
    background-image: url('../img/slider1.jpg');
    font-family: 'Merriweather', serif;
    color:darkorange;
    padding-left:20px;
    font-size:85px;
}
.slide-1 p{
    font-size:30px;
    padding-left: 150px;
}
.slide-2{
    background-image: url('../img/slider2.jpg');
    font-family: 'Fjalla One', serif;
    text-align: right;
    padding-top: 450px;
    padding-right: 40px;
    font-size:70px;
    color:#3B5998;
}
.slide-3{
    background-image: url('../img/slider3.jpg');
    font-family: 'Exo', serif;
    text-align: left;
    padding-top: 20px;
    padding-left: 180px;
    font-size:60px;
    color:white;
}
.slide-4{
    background-image: url('../img/slider4.jpg');
    font-family: 'Lato', serif;
    text-align: right;
    padding-top: 320px;
    padding-right: 30px;
    font-size:60px;
    color:#DB4437;
    font-weight:bold;
}
.arrow{
    position: absolute;
    top:50%;
    cursor: pointer;
    margin-top: -35px;
    border-style: solid;
    height:0;
    width:0;
}

#left-arrow{
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    left:0;
    margin-left: 30px;  
}

#right-arrow{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    right:0;
    margin-right: 30px;  
}
